# 7장, 데이터 정리 (cleaning)

In [1]:
!pip install -Uqq numpy pandas

In [2]:
import numpy as np
import pandas as pd

## 7.1 누락된 데이터 처리

누락된 데이터 필터링
누락된 데이터 채우기

## 7.2 데이터 변환

### 중복 제거
### 함수 또는 매핑을 사용하여 데이터 변환
### 값 바꾸기
### 축 인덱스 이름 바꾸기
### 이산화 및 비닝
### 이상치 감지 및 필터링

### 순열 및 무작위 샘플링

In [3]:
df = pd.DataFrame(np.arange(5 * 7).reshape((5, 7)))
df

    0   1   2   3   4   5   6
0   0   1   2   3   4   5   6
1   7   8   9  10  11  12  13
2  14  15  16  17  18  19  20
3  21  22  23  24  25  26  27
4  28  29  30  31  32  33  34

### 지표/더미 변수 계산


## 7.3 확장 데이터 유형

## 7.4 문자열 조작

Python 내장 문자열 객체 메서드
정규 표현식
판다스의 문자열 함수

## 7.5 범주형 데이터

배경 및 동기
판다스의 범주형 확장 유형
범주형을 사용한 계산
범주형 방법